
.philosophy {
    background-color: #FFF3E4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1440px;
    padding: 0;
    margin-top: 144px;
    box-sizing: border-box;
    height: 600px;
}

.philosophy__text {
    /* align-self: center; */
    padding: 120px 72px;
    margin: 0;
    width: 50%;
} 

.philosophy__text > h2 {
    color: #181823;
    font-family: Sen;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 24px;
    width: 529px;
    /* margin-left: 72px; */
}

.philosophy__text > p {
    color: #5B6876;
    font-family: Sen;
    font-size: 18px;
    font-weight: 400;
    /* margin: 0 0 134px 0; */
    margin-bottom: 134px;
    width: 576px;
}

.button {
    color: #181823;
    padding-bottom: 4px;
    text-decoration: none;
}

.button::after {
    content: "";
    display: block;
    width: 33%;
    padding-top: 5px;
    border-bottom: 1px solid black;
}

.img {
    max-width: 720px;
    max-height: 600px;
}

.img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}